.row
  .small-4.columns
    a#yellow.button.tiny.radius.expand.success(href='/') Home
  .small-4.columns
    a#purple.nav.button.tiny.radius.expand.success(href='/songs') Songs
  .small-4.columns
    a#lightblue.nav.button.tiny.radius.expand.success(href='/songs/new') New
