!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Qunit Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %input#balance{type: 'text', value: '1000'}
    %input#amount{type: 'text', placeholder: "Enter an Amount"}
    %input#deposit{type: 'button', value: "Deposit"}
    %input#withdraw{type: 'button', value: "Withdraw"}

    %script{src:'js/jquery-1.10.2.min.js'}
    %script{src:'js/underscore-min.js'}
    %script{src:'js/main.js'}
