extends ../template/layout

block content
    .row
      .small-12.columns
        h2 Artists
    .row
      .small-12.columns
        #artists
          each artist in artists
            .artist
              h3= artist.name
                ul
                  each song in artist.songs
                    li= song.title
              img(src='/artists/#{artist.photo}')
