html, body, #left, #map-canvas {
  height: 100%; }

body {
  background-color: #b3d1ff; }

#left, #right {
  float: left; }

#left {
  width: 90%; }

#right {
  width: 10%;
  padding-top: 40px;
  padding-left: 20px; }

#map-canvas {
  width: 100%; }
