!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Qunit Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %h1 Header H1
      %img
    %section
      %h2 Section H2
      %p Section p
      %p
        Section p
        %span Section p span
        %span Section p span
    %footer
      %h6 Footer H6
      %p Footer p


    %script{src:'js/jquery-1.10.2.min.js'}
    %script{src:'js/underscore-min.js'}
    %script{src:'js/main.js'}
