@import url(http://fonts.googleapis.com/css?family=Prosto+One);
header {
  border: 2px dashed #c60b0b; }
  header #logo {
    width: 78px;
    height: 105px;
    background: url(../images/tesla_flag.png);
    float: left; }
  header #company {
    float: left; }
    header #company h1 {
      margin-left: 250px;
      margin-top: 30px;
      font-family: "Prosto One", cursive; }

nav ul {
  list-style-type: none;
  padding: 0px;
  /*li end */ }
  nav ul li {
    padding-right: 50px;
    display: inline-block; }

div#content {
  /*section*/ }
  div#content section h1 {
    color: #c60b0b;
    font-family: "Prosto One", cursive;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 5px;
    font-size: 20px;
    color: #c60b0b; }
  div#content section h2 {
    color: #923f3f;
    font-family: "Prosto One", cursive;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 3px; }
  div#content section p {
    color: #ff0033;
    font-family: "Prosto One", cursive;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 5px;
    padding: 10px;
    border: 2px dashed green;
    background-color: blue;
    box-shadow: 5px 5px 10px black; }

footer p {
  font-size: 8px;
  color: #c60b0b; }

#main {
  width: 960px;
  margin: 0px auto; }

a {
  text-decoration: none;
  color: #c60b0b; }
  a:hover {
    text-decoration: underline;
    color: #9c3535; }

.clear {
  clear: both; }
