doctype 5
html
  head
    title Cats Meow!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Pages of kitties
    p Welcome to Node
    img(src='http://eofdreams.com/data_images/dreams/cat/cat-07.jpg')