doctype 5
html
  head
    title Dogs Drool
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Pages of dogs
    p Dog stuff
    img(src='http://static.tumblr.com/puwnmep/a4nmc89ds/wolf-wolves-30540867-1280-960.jpg')